body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #e6b8ce;
}
header {
    background-color: #0e1169;
    color: rgb(235, 215, 237);
    padding: 20px;
}
footer {
    margin-top: 20px;
    font-size: 0.9em;
}
