body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #ffe7f3;
}
header {
    background-color: #0e1169;
    color: rgb(254, 183, 235);
    padding: 20px;
}
footer {
    margin-top: 20px;
    font-size: 0.9em;
}
